
.container {
    width: 350px;
    grid-template-columns: repeat(auto-fill, 200px);
}

.render-cards {
    width: 350px;
    grid-template-columns: repeat(auto-fill, 100px);
}

.title {
    text-align: center;
}

.location {
    text-align: center;
}