


/* .card {


} */

.title {
    text-align: center;
}

.location {
    text-align: center;
}


/* .image {
    width: 200px;
} */

/* .card-list {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-row-gap: 50px;
    
}


.playground-image {
    width: 200px;
} */